@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #001524;
  --secondary-color: #15616d;
  --card-color: #ffecd1;
  --accent: #ff7d00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--primary-color);
}

.header-container {
  margin: auto;
  padding: 36px 16px;
  background-color: var(--secondary-color);
}

.header {
  max-width: 72rem;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  max-width: 72rem;
  padding: 16px 0;
}

.logo {
  color: white;
}

.add-book-btn {
  font-weight: 500;
  font-size: 16px;
  background-color: #073b4c;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  color: white;
}

.library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--card-color);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.close-modal {
  width: 16px;
}

.add-book-modal {
  width: 18rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

input {
  padding: 8px;
  border-radius: 8px;
  border-width: 1px;
}

.submit-btn {
  font-weight: 500;
  font-size: 16px;
  background-color: #073b4c;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  margin-top: 24px;
}

.delete-btn {
  width: 24px;
}